/*  your css code here. If applicable */
body{
    background-color: rgb(242, 238, 238);
}
.heading-div{
    width: 350px;
    text-align: center;
}
.block-heading{
    color: #3b99e0;
    margin: 20px;
}
.container{
    background-color: white;
    padding: 0px;
    margin: auto;
    width: 75%;
    
}
.detail{
    line-height: 10px;
}
.heading{
    color: #3b99e0;
}
.quantity{
 background-color: #3b99e0;
 border-radius: 7px;
 text-align: center;
 padding: 0px 20px;
}

.summary-div{
    text-align: center;
 background-color: #f7fbff;
 border-top: 4px solid #5ea4f3;
}

.summary-div>h4{
    margin:30px;
}
table,td{
   border-bottom: 1px solid #3b99e0;
}
   
td{
    text-align: start;
    padding: 5px;
}